$color: #1575AA;

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: $color;
    border-color: $color;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: $color;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: $color;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: $color;
}
