$color: #1575AA;

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: initial;
}

.navbar-nav>li>.dropdown-menu {
    border-top-color: #EEEEEE;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: $color;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: $color;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: $color;
    border-color: $color;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: $color;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: $color;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: $color;
}
