body {
    padding-top: 40px;
    padding-bottom: 20px;
}

@import "_bootswatch.scss";
@import "_article.scss";
@import "_syntax.scss";

.show {
    $gradient: linear-gradient(to bottom, #829DD6 0, #187C7B 100%);

    margin-bottom: 100px;

    .logo {
        display: none;

        position: relative;
    }

    .responsive-logo {
        position: relative;

        margin-bottom: 100px;

        padding-top: 40%;
        padding-bottom: 60px;

        background-image: $gradient;
    }

    .logo .image, .responsive-logo .image {
        display: block;

        position: absolute;
        left: 0; right: 0;
        top: 30px; bottom: 30px;

        background: url(/images/logo.png) no-repeat;
        background-size: contain;
    }

    .logo .image {
        background-position: left center;
    }

    .responsive-log .image {
        background-position: center center;
    }

    .example {
        display: block;
        flex: none;

        border: 10px solid #000000;
        border-radius: 20px;

        background: #FFFFFF;

        .inner {
            $emulator-width: 160;
            $emulator-height: 144;

            position: relative;
            padding-top: ($emulator-height / $emulator-width) * 100%;
        }

        .screen {
            position: absolute;
            left: 0; top: 0;

            width: 100%;
            height: 100%;
        }

        .tools {
            position: absolute;
            left: 20px; bottom: 20px;
        }
    }

    @media (min-width: 768px) {
        & {
            padding: 30px 0;

            background: $gradient;
        }

        .container {
            display: flex;
        }

        .responsive-logo {
            display: none;
        }

        .logo {
            display: block;
            flex: auto;
        }

        .example {
            flex: none;

            width: 30%;
        }
    }
}

.impact {
    text-align: center;

    color: #555555;

    .lead {
        margin: auto;

        max-width: 80%;

        font-size: 21px;
    }
}

.mini-rule {
    margin: 50px auto;

    width: 100px;
}

.advantages {
    text-align: center;

    .glyphicon {
        display: block;

        margin-bottom: 50px;

        font-size: 7rem;
        text-align: center;

        color: #CFD1DD;

        transition: color .3s;
    }

    .opensource:hover .glyphicon {
        color: #405ABE;
    }

    .modular:hover .glyphicon {
        color: #CA85CD;
    }

    .fast:hover .glyphicon {
        color: #FFDD5C;
    }
}
