{% extends "layouts/default.jinja" %}

{% block body %}

    <header class="show">
        <div class="container">
            <div class="logo">
                <img class="picture" src="/images/logo.png" />
            </div>
            <canvas id="screen" class="example">
            </canvas>
        </div>
    </header>

    <section class="impact container">
        <h2>Emulators. Emulators everywhere.</h2>
        <p class="lead">Virt.js allows you to create embeddable emulators on a variety of architectures. More than that, it exposes conventioned public API so you can easily plug them into your own projects.
    </section>

    <hr class="mini-rule" />

    <section class="advantages container">
        <div class="row">
            <div class="col-sm-4 opensource">
                <div class="glyphicon glyphicon-globe"></div>
                <h3>Open Source</h3>
                <p>Virt.js is released under the GPL license, giving it free of charge to every open-source project that you could think of. The world is yours!</p>
            </div>
            <div class="col-sm-4 modular">
                <div class="glyphicon glyphicon-th"></div>
                <h3>Modular</h3>
                <p>Virt.js aims to give you full leverage on the running emulator. It allows you to write your own devices should you need to, and directly wire them into the core.</p>
            </div>
            <div class="col-sm-4 fast">
                <div class="glyphicon glyphicon-flash"></div>
                <h3>Fast</h3>
                <p>Thanks to an advanced JIT process, Virt.js is able to achieve incredible speed, and some engines can even run flawless on latest mobile browsers.</p>
            </div>
        </div>
    </section>

    <hr class="mini-rule" />

    <section class="container">
        <pre><code>{{ example | highlight | safe }}</code></pre>
    </section>

{% endblock %}
